* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.outline {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    border-top: 5px solid #353935;
    border-bottom: 20px solid #353935;
    border-left: 8px solid #353935;
    border-right: 8px solid #353935;
    box-shadow: 0 0 15px;
}

.menu {
    width: 100%;
    height: 10%;
    background-color: #89CFF0;
}

.log {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
    width: 100%;
    height: 25%;
    border-top: 5px solid #76c2e6;
    border-bottom: 1px solid black;
    background-color: #e6ffff;
    font-size: 30px;
    font-family: digital,Arial;
}

.screen {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 5px solid #72acc6;;
    text-align: center;
    background-color: #e6ffff;
    font-size: 30px;
    font-family: digital,Arial;
}

@font-face {
    font-family: digital;
    src: url(./font/digital-7.ttf);
}

.buttons {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    padding: 15px;
    background-color: #89CFF0;
}

.keys {
    margin: 2px;
    border-radius: 5px;
    width: 18%;
    height: 18%;
    border-bottom: 10px solid rgb(181, 181, 181);
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-top: 2px solid grey;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.keys:active,
.equal:active,
.clear:active {
    border: 2px solid grey;
}

.equal {
    background-color: #7FFFD4;;
    border-radius: 5px;
    width: 20%;
    height: 40%;
    color: black;
    border-bottom: 10px solid rgb(181, 181, 181);
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-top: 2px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.clear {
    background-color: #7FFFD4;
    border-radius: 5px;
    width: 20%;
    height: 80%;
    color: black;
    border-bottom: 10px solid rgb(181, 181, 181);
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-top: 2px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}